<ng-container *ngIf="dashboard">

  <mat-card class="mat-elevation-z3 mg-b-20">

    <mat-card-title class="flex-row">
      <span class="stretch-flex">{{ dashboard.title }}</span>

      <ng-container *ngIf="dashboard.isCustom">

        <button mat-icon-button
                (click)="shareDashboard()"
                matTooltip="Share Dashboard">
          <mat-icon>share</mat-icon>
        </button>

      </ng-container>

      <button mat-icon-button [mat-menu-trigger-for]="headerMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #headerMenu="matMenu">
        <button mat-menu-item (click)="editDashboard()">Edit Dashboard</button>
      </mat-menu>

    </mat-card-title>

    <mat-card-subtitle>Breadcrumbs</mat-card-subtitle>

  </mat-card>

</ng-container>
