<mat-toolbar>Menu</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="home">Home</a>
  <a mat-list-item routerLink="user">User</a>
  <a mat-list-item routerLink="dashboard">Dashboard</a>
  <a mat-list-item routerLink="dashboard/1">Dashboard 1</a>
  <a mat-list-item routerLink="dashboard/2">Dashboard 2</a>
  <a mat-list-item (click)="clearUser($event)">Logout</a>
</mat-nav-list>
