<mat-card class="mat-elevation-z3">

  <mat-card-title>Notices</mat-card-title>
  <mat-card-subtitle>Notice Count: {{ notices.length }}</mat-card-subtitle>

  <mat-card-content>
    <pre>{{ notices | json }}</pre>
  </mat-card-content>

</mat-card>
