<section class="dashboard-container">
  <ng-container *ngIf="!errMsg; else showErrorMessage">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-template #showErrorMessage>
    <h4>This is the error message</h4>
    <pre>{{ errMsg | json }}</pre>
  </ng-template>
</section>
