<mat-card *ngIf="tile" class="mat-elevation-z3 stretch-flex">

  <mat-card-title class="flex-row">

    <h4 class="mat-title stretch-flex">{{ tile.title }}</h4>

    <button mat-icon-button [mat-menu-trigger-for]="widgetMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #widgetMenu="matMenu">
      <button mat-menu-item (click)="export()">Export</button>
      <button mat-menu-item (click)="refresh()">Refresh</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Add to Custom Dashboard</button>
    </mat-menu>

  </mat-card-title>

  <mat-card-content>

    <insights-xplor-widget-base [widgetId]="tile.widget_id"></insights-xplor-widget-base>

  </mat-card-content>

</mat-card>
