/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cut-off {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.flex-column {
  flex: 1;
  display: flex !important;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;
}

.flex-row {
  display: flex !important;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.notice-error, .notice-message, .notice-success, .notice-warning {
  outline: 2px solid #FFFFFF;
  outline-offset: -5px;
  color: #FFFFFF;

  .mat-simple-snackbar-action {
    color: #FFFFFF;
  }
}

.notice-error {
  background-color: #C2210F;
}

.notice-message {
  outline-color: #6923F4;
  background-color: #FFFFFF;
  color: #272431;

  .mat-simple-snackbar-action {
    color: #6923F4;
  }
}

.notice-warning {
  outline-color: #272431;
  background-color: #FF9387;
  color: #272431;

  .mat-simple-snackbar-action {
    color: #272431;
  }
}

.notice-success {
  background-color: #6923F4;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  align-content: space-between;
}

.space-evenly {
  align-content: space-evenly;
}

.stretch-flex {
  flex: 1;
}

@import "style-generators";
