@props: margin, padding;
@dirs: top, right, bottom, left;
@abbrs: t, r, b, l;

.margin-loop (@i) when (@i > 0) {
  .make-prop-class(@p: length(@dirs)) when (@p > 0) {
    .make-prop-class(@p - 1);
    @dir: extract(@dirs, @p);
    @abbr: extract(@abbrs, @p);
    .mg-@{abbr}-@{i} {
      margin-@{dir}: ~"@{i}px";
    }
    .pad-@{abbr}-@{i} {
      padding-@{dir}: ~"@{i}px";
    }
  }
  .mg-@{i} {
    margin: ~"@{i}px";
  }
  .pad-@{i} {
    padding: ~"@{i}px";
  }
  .make-prop-class();
  .margin-loop(@i - 5);
}

.width-loop (@i) when (@i > 0) {
  .w-@{i} {
    width: ~"@{i}%";
  }
  .width-loop(@i - 5);
}

.margin-loop (100);
.width-loop(100);
