<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <xplor-insights-nav (clearUserEmit)="clearUser($event)"></xplor-insights-nav>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">

        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>

      </button>

      <span>core</span>

    </mat-toolbar>
    <!-- Add Content Here -->

    <section class='content-holder'>

      <button (click)="getCount()">Count</button>
      <button (click)="testNotice()">Message</button>
      <button (click)="testNotice('success')">Success</button>
      <button (click)="testNotice('warning')">Warning</button>
      <button (click)="testNotice('error')">Error</button>

      <xplor-insights-notice-viewer></xplor-insights-notice-viewer>

      <router-outlet></router-outlet>

    </section>

  </mat-sidenav-content>

</mat-sidenav-container>
