<section class="flex-row">

  <section class="stretch-flex"></section>

  <mat-card class="w-25 mg-t-20 mat-elevation-z3">

    <mat-card-title>Insights Login</mat-card-title>

    <mat-card-content class="pad-t-20">

      <form>

        <mat-form-field appearance="fill">
          <mat-label>Email Address</mat-label>
          <input name="email_address"
                 required
                 autocomplete="email"
                 [(ngModel)]="usernameForm"
                 matInput
                 type="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input name="password"
                 required
                 autocomplete="current_password"
                 [(ngModel)]="passwordForm"
                 matInput
                 type="password">
        </mat-form-field>

      </form>

    </mat-card-content>

    <mat-card-actions>

      <section class="flex-row">

        <span class="stretch-flex"></span>

        <button mat-raised-button color="primary"
                [disabled]="!usernameForm.valueOf() || !passwordForm.valueOf()"
                (click)="login()">
          Login
        </button>

      </section>

    </mat-card-actions>

  </mat-card>

  <section class="stretch-flex"></section>

</section>
