<ng-container *ngIf="dashboard">

  <insights-xplor-dashboard-header (editEvent)="editDashboard($event)"
                                   (shareEvent)="shareDashboard($event)"
                                   [dashboard]="dashboard"></insights-xplor-dashboard-header>

  <section class="flex-row space-evenly">

    <ng-container *ngFor="let tile of dashboard.tiles">

      <insights-xplor-dashboard-tile
        (refreshEvent)="refreshTile($event)"
        (exportEvent)="exportTile($event)"
        [tile]="tile">
      </insights-xplor-dashboard-tile>

    </ng-container>

  </section>

  <pre>{{ dashboard | json }}</pre>

</ng-container>

<ng-container *ngIf="errMsg">

  <pre>{{ errMsg | json }}</pre>

</ng-container>
