<ng-container *ngIf="insightsUser; else showLoading">
  <h1>Hello {{ insightsUser.details?.full_name }}</h1>
  <pre>{{ insightsUser | json }}</pre>
</ng-container>
<ng-template #showLoading>
  <p>Loading...</p>
</ng-template>

