<ng-container *ngIf="user; else showLogin">
  <xplor-insights-base (clearUserEmit)="clearUser($event)"></xplor-insights-base>
</ng-container>
<ng-template #showLogin>
  <router-outlet></router-outlet>
</ng-template>


